html {font-size: 18px;}

body {font-family: helvetica;
margin: 0;
line-height: 1.4rem;}

.container {max-width: 960px;
margin: 0 auto;
}

/* Main Section */

.main {
  background-image: url("../images/glasses-bg.png");
  background-position: left;
  background-size: cover;
  padding-top: 1rem;
  height: 30rem;}


.header {background-color: cadetblue;
  padding: 1rem 2rem 1rem 2rem;
  display: flex;
  color: white;
  justify-content: space-between;
  align-items: center;}

.logo {
  display: flex;
  align-items: center;}

  .logo img {max-height: 1.5rem;
  margin-right: 1rem;}

  .logo span {font-size: 1rem;}

.nav {display: flex;}

.nav span {margin-left: 2rem;}

.banner .container {
  position: relative;
  top: 10rem;
display: flex;
justify-content: flex-end;}

.bannertext {display: inline-block;
background-color: white;
padding: 1.5rem 5rem 1.5rem 5rem;
font-weight: bold;
font-size: 2rem;
position: relative;
left: 2rem;
}


/* Value Icons */

.icons {display: flex;
justify-content: center;
padding: 3rem 0;}

.iconbox {height: 8rem; width: 5rem; display: flex;
flex-direction: column; align-items: center;
justify-content: space-between;

}

.iconcaption {width: 5rem; text-align: center;}

.iconbox#paper {margin-right: 6rem;}
.iconbox#ruler {margin-right: 6rem;}

#paper img {max-width: 3.5rem; height: auto;}
#paper span {text-align: center;}

#ruler img {max-width: 5rem;}

#truck img {max-width: 5rem;}

.about .container {display: flex;
justify-content: center;}

.aboutbox {width: 35%;
}

.abouttext { color: white;
background-color: cadetblue;
  width: 10rem;
  padding: 0.5rem 0 0.5rem 1.25rem;
  text-align: left;
  font-weight: bold;
  font-size: 1rem;
  margin: 0 0 1rem 0;
}

#philosophy {margin-right: 2.5%;}
#appointments {margin-left: 2.5%;}

.footer .container {background-color: azure;
display: flex;
align-items: center;
margin-top: 5rem;
}

.footer .logo {color: black;
margin: 4rem 0 4rem 4rem;}

@media only screen and (max-width: 960px) {
  .container {max-width: 100%;}
  .main {padding-top: 0; height: 22rem;}
  .banner .container {right: 2rem;
  top: 5rem;}
  .bannertext {left: 0; font-size: 1.33rem;
  padding: 0.75rem 4rem;}
}

@media only screen and (max-width: 750px) {
  .logo span {display: none;}
  #desktopnav {display: none;}
  .main {height: 17rem;}
  .banner .container {top: 9rem; right: 0rem;
    padding: 0; width: 100%; background-color: white;}
  .bannertext {margin: 0 auto; display: block;
  padding: 1rem 0;}
  .icons {flex-direction: column; align-items: center;
  padding: 3.77rem 0;}
  .iconcaption {font-size: 0.77rem;
   line-height: 1rem;}
   img {margin: 0;}
   .iconbox {justify-content: flex-start; height: auto;}
   #paper, #ruler, #truck {margin: 0 0 1.54rem 0;}
   .iconbox#paper {margin-right: 0;}
   .iconbox#ruler {margin-right: 0;}
   .about .container {flex-direction: column; align-items: center;}
    #philosophy, #appointments {margin: 0;}
    .aboutbox {width: 100%;}
    .abouttext {width: 100%; text-align: center;
    }
    .aboutbox p {font-size: 0.77rem; margin-top: 1rem;
    margin-bottom: 4rem;}

    .footer .container {margin-top: 0;}
    #footerlogo {margin: 4rem auto;}

}

@media only screen and (min-width: 751px) {
  #menubutton {display: none;}
}
